.sidebar {
  position: absolute;
  top: 0;
  left: 0;
  width: 300px;
  height: 100vh;
  padding: 20px 30px;
  background-color: #fff;
  border-right: 1px solid #868695;
  z-index: 99999;
}

.sidebar ul {
  margin: 0;
  padding: 0;
  list-style: none;
}

.sidebar li {
  display: flex;
  align-items: center;
  height: 28px;
  padding-left: 5px;
  font-size: 16px;
  cursor: pointer;
  border-radius: 8px;
}

.sidebar li:hover {
  background-color: #cb11ab;
  color: #fff;
}

.sidebar li:not(:last-child) {
  margin-bottom: 10px;
}

.closeButton {
  position: absolute;
  top: 8px;
  right: -40px;
  width: 34px;
  height: 34px;
  padding: 0;
  border: none;
  cursor: pointer;
  background-color: unset;
}

.closeButton::before {
  position: absolute;
  content: "";
  display: block;
  width: 28px;
  height: 4px;
  border-radius: 4px;
  background-color: #fff;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%) rotate(45deg);
}

.closeButton::after {
  position: absolute;
  content: "";
  display: block;
  width: 28px;
  height: 4px;
  border-radius: 4px;
  background-color: #fff;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%) rotate(-45deg);
}
